.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}
 
.footerlinks:hover {
        color: #ffd800;
    }
 
#footer1 {
    background: #633974 ;
}
 
#footer2 {
    background: #A93226;
}